.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo-static {
  animation: App-logo infinite 20s linear;
  height: 80px;
}

.App-sanJo {
  height: 80px;
  border-radius: 50%;
}


.App-header {
  background-color: #323232;
  height: 150px;
  padding: 20px;
  color: #8e8e8e;
}

.App-title {
  background-color: #323232;
  font-size: 1.5em;
}

.App-intro {
    background-color: #323232;
    font-size: large;
}

.App-wait-time {
  background-color: #323232;
  color: #ffffff;
}

.App-footer {
  background-color: #323232;
  color: #eaeaea;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
